<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
    {% comment %} <link rel="stylesheet" href="{% static 'path/to/your/css' %}"> {% endcomment %}
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Booking Confirmation</h1>
                <p>Your booking was successful!</p>
                <p><strong>Booked by:</strong> {{ booking.customer_name }}</p>
                <p><strong>Contact:</strong> {{ booking.phone_number }}</p>
                <p><strong>Date:</strong> {{ booking.date_start }}</p>
                <p><strong>End date:</strong> {{ booking.date_end }}</p>
                <p><strong>Venue Type:</strong> {{ booking.venue_type }}</p>
                <p><strong>Venue Name:</strong> {{ booking.venue_name}}</p>
            </div>
        </div>
    </div>
</body>
</html>
